
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(224,75,232,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4da6;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff4da6;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes glow {
  from {
    text-shadow: 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #e60073, 0 0 10px #e60073, 0 0 12px #e60073, 0 0 14px #e60073, 0 0 16px #e60073;
  }
  
  to {
    text-shadow: 0 0 8px #fff, 0 0 12px #ff4da6, 0 0 16px #ff4da6, 0 0 20px #ff4da6, 0 0 24px #ff4da6, 0 0 28px #ff4da6, 0 0 32px #ff4da6;
  }
}

.glow {
  animation: glow 2s ease-in-out infinite alternate;
}


.button {
  background: rgb(72,14,102);
  background: linear-gradient(338deg, rgba(72,14,102,0.8509904450061274) 0%, rgba(224,75,232,0.7641557111125701) 100%);
  font-family: "Orbitron", serif!important;
  text-transform: unset!important;
  font-size: 16px!important;
  font-weight: 400;
  color: white;
}

.tile:hover, .inventory-item:hover {
  cursor: pointer;
}

.tile-base {
  transition: transform 0.2s ease-in-out;
}

.hidden {
  opacity: 0;
  /* color: red!important; */
}
